<%= form_for(@remind) do |f| %>
  <% if @remind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@remind.errors.count, "error") %> prohibited this remind from being saved:</h2>

      <ul>
      <% @remind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Reminder:" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">

    You would like to be contacted via:
    <table>
    <tr><td><%= f.check_box"contactmethod"%></td><td><%= f.label :contactmethod ,'Email' %></td>
    <td><%= f.text_field :contactinfo , :placeholder => "bigbtymama@OhForgetful.Me", :size => 25%></td></tr>
<!-- 
  <tr><td><%= f.check_box"contactemail"%></td><td><%= f.label :contactemail ,'Email' %></td>
    <td><%= f.text_field :emailaddress , :placeholder => "bigbtymama@OhForgetful.Me", :size => 25%></td></tr>
    <tr><td><%= f.check_box "contacttext"%></td><td><%= f.label :contacttext ,'Text' %></td>
      <td><%= f.text_field :textnumber, :size => 25 %></td></tr>

    <tr><td><%= f.check_box "contactphone"%></td><td><%= f.label :contactphone ,'Phone' %></td>
    <td><%= f.text_field :phonenumber, :size => 25 %></td></tr> -->

  </table>
  </div>
  <div class="field">
    <%= f.label "Message for future you:" %><br>
    <%= f.text_area :message %>
  </div>
  <div class="field">

  <div class="actions">
    <br>
    <%= f.label :"Make Reminder" %>
    <%= f.submit %>
  </div>
</div>
<% end %>
