<%= form_for(@remind) do |f| %>
  <% if @remind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@remind.errors.count, "error") %> prohibited this remind from being saved:</h2>

      <ul>
      <% @remind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    What would you like to remind yourself about? <br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    What date would you like the reminder on?<br>
    <%= f.date_select :date %>
<br><br>
    How would you like to be contacted? <br>
    
      <%= f.label :contactemail ,'Email Address' %><br>
      <%= f.text_field :email , :placeholder => "Chandra@OhForgetful.Me", :size => 25%>
    <br><br>
   
    <%= f.label "The message for future you:" %><br>
    <%= f.text_area :message %>
  </div>
</div>
  <div class="field">

  <div class="actions" align = "center">
    <br>
    <%= f.submit "   Set Reminder   ", :class=>"form-button"%>
  </div>
</div>
<% end %>
