<%= form_for(@remind) do |f| %>
  <% if @remind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@remind.errors.count, "error") %> prohibited this remind from being saved:</h2>

      <ul>
      <% @remind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %><br>
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    
    <%= f.radio_button "contactmethod","1"  %><%= f.label :contactmethod ,'Email' %><br>
    <%= f.radio_button "contactmethod","2"  %><%= f.label :contactmethod ,'Text' %><br>
    <%= f.radio_button "contactmethod","4"  %><%= f.label :contactmethod ,'Phone' %><br>
    <%= f.label :contactinfo %><br>
    <%= f.text_field :contactinfo %><br>
    
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>
  <div class="field">

  <div class="actions">
    <br>
    <%= f.label :"Make Reminder" %>
    <%= f.submit %>
  </div>
</div>
<% end %>
