<%= form_for(@remind) do |f| %>
  <% if @remind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@remind.errors.count, "error") %> prohibited this remind from being saved:</h2>

      <ul>
      <% @remind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    What would you like to remind yourself about? <br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    What date would you like the reminder on?<br>
    <%= f.date_select :date %>
<br><br>
    How would you like to be contacted?
    <table>
    <tr><td><%= f.check_box"contactmethod"%></td><td><%= f.label :contactmethod ,'Email' %></td>
    <td><%= f.text_field :contactinfo , :placeholder => "bigbtymama@OhForgetful.Me", :size => 25%></td></tr>
    Marker
  </table><br>
    <%= f.label "The message for future you:" %><br>
    <%= f.text_area :message %>
  </div>
  <div class="field">

  <div class="actions" align = "center">
    <br>
    <%= f.submit "   Set Reminder   ", :class=>"form-button"%>
  </div>
</div>
<% end %>
