
  <tr><td><%= f.check_box"contactemail"%></td><td><%= f.label :contactemail ,'Email' %></td>
    <td><%= f.text_field :emailaddress , :placeholder => "bigbtymama@OhForgetful.Me", :size => 25%></td></tr>
    
    <tr><td><%= f.check_box "contacttext"%></td><td><%= f.label :contacttext ,'Text' %></td>
      <td><%= f.text_field :textnumber, :size => 25 %></td></tr>

    <tr><td><%= f.check_box "contactphone"%></td><td><%= f.label :contactphone ,'Phone' %></td>
    <td><%= f.text_field :phonenumber, :size => 25 %></td></tr>
