<div class = "field">
<p id="notice" ><%= notice %></p>
<h2> New Reminder Created</h2>
<p>
  <h3>Name:
  <b><%= @remind.name %></b>
</h3>
</p>
<p>
  <strong>Date:</strong>
  <%= @remind.date %>
</p>

<p>
  <strong>Email:</strong>
  <%= @remind.email %>
</p>

<p>

<p>
  <strong>Message:</strong>
  <%= @remind.message %>
</p>


<%= link_to 'New', "/" %>
</div>