<div class = "field">
<p id="notice" ><%= notice %></p>
<h2> New Reminder Created</h2>
<p>
  <h3>Name:
  <b><%= @remind.name %></b>
</h3>
</p>

<% Remind.find(:id).each do |r| %>
  <% if r != nil then%>
    <p>
      <strong><%= r.inspect %></strong>
      <%= r %>
    </p>
  <%end%>
<%end%>
<p>
  <strong>Date:</strong>
  <%= @remind.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @remind.time %>
</p>

<p>
  <strong>Email:</strong>
  <%= @remind.email %>
</p>

<p>

<p>
  <strong>Message:</strong>
  <%= @remind.message %>
</p>


<%= link_to 'Edit', edit_remind_path(@remind) %> |
<%= link_to 'Back', reminds_path %>
</div>